/*! Action */

.analysis {
    &__action {
        grid-area: button;
        text-align: center;
        display: flex;
    }

    &__start {

        &:hover {
            background-color: green;
        }
    }

    &__resetSettings {
        &:hover {
            background-color: blue;
        }
    }

    &__resetAll {
        &:hover {
            background-color: red;
        }
    }
}

.btn {
    font-family: $headers-font;
    font-size: 26px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    outline: none;
    transition: 0.4s;

    &:hover {
        cursor: pointer;
        color: $bg-color-one;
    }
}