/* !Action */

.analysis {
    &__action {
        grid-area: button;
        text-align: center;
    }

    &__btn {
        font-family: $headers-font;
        font-size: 40px;
        padding: 10px 30px;
        border-radius: 10px;
        outline: none;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            color: $bg-color;
            background-color: green;
        }
    }
}