/*! Message */

.analysis {

    &__message {
        position: relative;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 100px;
        border: 2px solid black;

    }
}

.visibility {
    visibility: hidden;
}