/*! Options */

.analysis {
    &__options {
        grid-area: options;
        @extend %basic-styles;
        text-align: center;
    }

    &__title {
        font-family: $headers-font;
        text-align: center;
        margin-bottom: 20px;
    }

    &__inputWrapper {
        margin: 15px 0;
        font-family: $text-font;
    }

    &__inputWrapper span+* {
        width: 30%;
        margin-left: 10px;
        padding: 5px;
    }

    &__inputTitle {
        display: inline-block;
        width: 60%;
        text-align: right;
    }
}