/*!Style of text*/

.analysis {
    &__text {
        grid-area: text;
        @extend %basic-styles;
    }

    &__content {
        display: inline-block;
        width: 100%;
        padding: 10px;
        border: none;
        background-color: $bg-color;
    }
}